

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.my.my.HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.my.my.HelloForm</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/TomcatTest/HelloForm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloFormPost</servlet-name>
    <servlet-class>com.my.my.HelloFormPost</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>HelloFormPost</servlet-name>
    <url-pattern>/TomcatTest/HelloFormPost</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.my.my.CheckBox</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/TomcatTest/CheckBox</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReadParams</servlet-name>
    <servlet-class>com.my.my.ReadParams</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParams</servlet-name>
    <url-pattern>/TomcatTest/ReadParams</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>com.my.my.DisplayHeader</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/TomcatTest/DisplayHeader</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.my.my.Refresh</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/TomcatTest/Refresh</url-pattern>
  </servlet-mapping>c


  <servlet>
    <servlet-name>showError</servlet-name>
    <servlet-class>com.my.my.showError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showError</servlet-name>
    <url-pattern>/TomcatTest/showError</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.my.my.LogFilter</filter-class>
    <init-param>
      <param-name>Site</param-name>
      <param-value>百度</param-value>
    </init-param>
  </filter>


  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- servlet 定义 -->
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.my.my.ErrorHandler</servlet-class>
  </servlet>
  <!-- servlet 映射 -->
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/TomcatTest/ErrorHandler</url-pattern>
  </servlet-mapping>

  <!-- error-code 相关的错误页面 -->
  <error-page>
    <error-code>404</error-code>
    <location>/TomcatTest/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/TomcatTest/ErrorHandler</location>
  </error-page>

  <!-- exception-type 相关的错误页面 -->
  <error-page>
    <exception-type>
      javax.servlet.ServletException
    </exception-type >
    <location>/TomcatTest/ErrorHandler</location>
  </error-page>

  <error-page>
    <exception-type>java.io.IOException</exception-type >
    <location>/TomcatTest/ErrorHandler</location>
  </error-page>




  <servlet>
    <servlet-name>ReadCookies</servlet-name>
    <servlet-class>com.my.my.ReadCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookies</servlet-name>
    <url-pattern>/TomcatTest/ReadCookies</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>com.my.my.SessionTrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/TomcatTest/SessionTrack</url-pattern>
  </servlet-mapping>
  <!-- servlet 删除 session-->
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>DatabaseAccess</servlet-name>
    <servlet-class>com.my.my.mysql.DatabaseAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAccess</servlet-name>
    <url-pattern>/TomcatTest/DatabaseAccess</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.my.my.mysql.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/TomcatTest/UploadServlet</url-pattern>
  </servlet-mapping>

  <!--创建table -->
  <servlet>
    <servlet-name>CreateTable</servlet-name>
    <servlet-class>com.my.my.mysql.CreateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTable</servlet-name>
    <url-pattern>/TomcatTest/CreateTable</url-pattern>
  </servlet-mapping>

  <!--表中添加数据  -->
  <servlet>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>com.my.my.mysql.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/TomcatTest/InsertData</url-pattern>
  </servlet-mapping>

  <!--表中修改数据  -->
  <servlet>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.my.my.mysql.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/TomcatTest/UpdateData</url-pattern>
  </servlet-mapping>





  <!--表中查找数据  -->
  <servlet>
    <servlet-name>SelectData</servlet-name>
    <servlet-class>com.my.my.mysql.SelectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectData</servlet-name>
    <url-pattern>/TomcatTest/SelectData</url-pattern>
  </servlet-mapping>










  <servlet>
    <servlet-name>CurrentDate</servlet-name>
    <servlet-class>com.my.my.CurrentDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentDate</servlet-name>
    <url-pattern>/TomcatTest/CurrentDate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PageRedirect</servlet-name>
    <servlet-class>com.my.my.PageRedirect</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PageRedirect</servlet-name>
    <url-pattern>/TomcatTest/PageRedirect</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PageHitCounter</servlet-name>
    <servlet-class>com.my.my.PageHitCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageHitCounter</servlet-name>
    <url-pattern>/TomcatTest/PageHitCounter</url-pattern>
  </servlet-mapping>


  <!--<filter>-->
    <!--<filter-name>StartFilter</filter-name>-->
    <!--<filter-class>com.my.my.socket.StartFilter</filter-class>-->
  <!--</filter>-->




</web-app>


